/* 
    Created on : 14-nov-2025, 9.37.57
    Author     : Pietro Celeste <p.celeste@osynapsy.net>
*/

/*OSY CARDGRID*/
div.osy-cardgrid {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: white;
} 

div.osy-cardgrid div.osy-cardgrid-empty {
    text-align: center;
    margin-top: 75px;
}

div.osy-cardgrid div.osy-cardgrid-empty span {
    padding: 20px 50px;
    background-color: #eee;
    border: 1px solid silver;
    border-radius: 5px;
}

div.osy-cardgrid div.osy-cardgrid-head {
    padding: 0px;
    border-bottom: 1px solid #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.osy-cardgrid div.osy-cardgrid-head h3 {
    float: left
}

div.osy-cardgrid div.osy-cardgrid-head h1 {
    text-align: center;
}

div.cardgrid div.cardgrid-head h1 {
    text-align: center;
    font-weight: normal;
}

div.osy-cardgrid div.osy-cardgrid-head div.add {
    float: right;
    padding: 5px;
    margin: 7px 30px 0px 0px;
}

div.osy-cardgrid div.osy-cardgrid-body {
    overflow: auto; cursor: default;
}

div.osy-cardgrid .osy-cardgrid-item {
    position: relative;
    display: block;
    height: 130px;
    font-size: 12px;
    margin: auto;
    text-decoration: none;
    color: #555;    
    border: 1px solid transparent;
    border-radius: 5px;
}

div.osy-cardgrid .addressbook
{
    border-color: silver;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

div.osy-cardgrid .osy-cardgrid-item:hover {
    color: #337ab7;
    border-color: #337ab7;
    cursor: default;
    background-color: #fdfdfd;
}

div.osy-cardgrid .osy-cardgrid-item:hover div.p2 {
    border-color: #337ab7; 
}

div.osy-cardgrid .osy-cardgrid-item-selected div.p2 {
    border-color: black !important; 
}

div.osy-cardgrid .osy-cardgrid-item a.osy-cardgrid-link {
    display: none; 
    position: absolute;
    padding: 3px 5px;
    background-color: white;
    bottom: 5px;
    right: 7px;
    border-radius: 3px;
    border: 1px solid red;
    text-decoration: none;    
}

div.osy-cardgrid .osy-cardgrid-item:hover a.osy-cardgrid-link {
    display: block;
}

div.osy-cardgrid div.p0 .osy-cardgrid-img {
    width: 33px;
    /*height: 33px;*/
    position: absolute;
    top: 12px;
    left: 7px;
    border-radius: 3px;
}

div.osy-cardgrid .osy-cardgrid-item div.p1 {
    height:79px
}
div.osy-cardgrid .osy-cardgrid-item {
    color: #888;
    margin-bottom: 25px;
    background-color: white;
}
div.osy-cardgrid .osy-cardgrid-item div.p1 {
    padding-left: 45px;
    padding-top: 10px;
}
div.osy-cardgrid .osy-cardgrid-item div.p1 strong {
    font-size: 12px;
    padding: 10px 0px;
}
div.osy-cardgrid .osy-cardgrid-item div.p2 {
    border-top: 1px solid silver;
    background-color: #eee;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.osy-cardgrid  div.p1-row {
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.osy-cardgrid input.osy-cardgrid-checkbox
{
    visibility: hidden; position: absolute; top: 0px; left:0px
}

div.osy-cardgrid .osy-cardgrid-item-selected {
    border-color: black !important;
    color: black !important;
}

div.osy-cardgrid div.osy-cardgrid-item span.fa-check {
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
}
div.osy-cardgrid div.osy-cardgrid-item-selected span.fa-check {
    display: block;
}